<!--
  Copyright (c) 2019 Eclipse Foundation, Inc.

  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v. 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.

  Contributors:
    Christopher Guindon <chris.guindon@eclipse-foundation.org>

  SPDX-License-Identifier: EPL-2.0
-->

<section class="container margin-top-40 margin-bottom-40">
  <h2>Funding organizations</h2>
  <p>The Eclipse Foundation has been a partner in many publicly funded research projects since 2013. We help organizations to successfully create, publish, and sustain an open source software platform, making the results of the research projects available for commercial or public exploitation.</p>
  <div class="row">
    <ul class="list-inline list-org text-center center-block">
      <li>
        <img src="images/funding/horizon-2020.png" class="img-responsive" alt="Horizon 2020 logo"/>
      </li>
      <li >
        <img src="images/research/itea3.png" class="img-responsive"/>
      </li>
      <li >
        <img src="images/research/ecsel.png" class="img-responsive"/>
      </li>
      <li >
        <img src="images/research/bundes.png" class="img-responsive"/>
      </li>
    </ul>
  </div>
</section>